openapi: 3.1.0
info:
  title: Audra Voice API v2
  version: 2.0.0
  description: |
    Audra-native text-to-speech API with credit-based billing.

    **Model:** `audra-core` — standard tier, voice mixing, SSML subset, designed voices.

    **Commercial use:** Free trial is evaluation-only. After purchasing credits, send
    `X-Audra-Commercial-Use: true` on production renders. Paid accounts receive
    `X-Commercial-Allowed: true` on successful speech responses.

    **Legacy v1:** `/v1/*` remains available with `Deprecation` and `Sunset` headers until sunset.
    See `/docs/v2` and `docs/MIGRATION_V1_V2.md`.
  contact:
    name: Audra
    url: https://audratalks.com/docs

servers:
  - url: https://audratalks.com
    description: Production
  - url: http://localhost:3000
    description: Local gateway

tags:
  - name: Auth
  - name: Speech
  - name: Billing
  - name: Meta

paths:
  /health:
    get:
      tags: [Meta]
      summary: Health check
      responses:
        '200':
          description: Gateway healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  tts:
                    type: object
                  version:
                    type: string

  /v2/accounts:
    post:
      tags: [Auth]
      summary: Create account and API key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: API key issued
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SignupResponse'
        '400':
          description: Invalid email
        '409':
          description: Email already registered
        '429':
          description: Signup rate limit (per IP)

  /v2/accounts/verify:
    get:
      tags: [Auth]
      summary: Verify email from signup link
      parameters:
        - in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        '302':
          description: Redirect to dashboard with verified=1

  /v2/accounts/verify/resend:
    post:
      tags: [Auth]
      summary: Resend verification email
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Email sent or already verified
        '401':
          description: Unauthorized
        '429':
          description: Resend rate limit

  /v2/models:
    get:
      tags: [Meta]
      summary: List available models
      responses:
        '200':
          description: Model list
          content:
            application/json:
              schema:
                type: object
                properties:
                  object:
                    type: string
                    example: list
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          example: audra-core
                        tier:
                          type: string
                          example: standard
                        features:
                          type: array
                          items:
                            type: string

  /v2/stats/public:
    get:
      tags: [Meta]
      summary: Public signup and usage counters
      description: |
        Marketing-trust metrics for the landing page and agent crawlers.
        `accounts` and `chars_rendered` exclude automated test signups.
        `accounts_all` and `chars_rendered_all` include non-`@audra.dev` totals.
      responses:
        '200':
          description: Public stats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicStats'

  /v2/voices:
    get:
      tags: [Meta]
      summary: List available voices (slug IDs)
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Voice list with capabilities
        '401':
          description: Missing or invalid API key

  /v2/usage:
    get:
      tags: [Billing]
      summary: Account usage and balance
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Usage snapshot
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageResponse'
        '401':
          description: Unauthorized

  /v2/billing/checkout:
    post:
      tags: [Billing]
      summary: Create Stripe Checkout session for credit pack
      security:
        - bearerAuth: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                pack:
                  type: string
                  enum: [credits_5, credits_20, credits_100]
      responses:
        '200':
          description: Checkout URL
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    format: uri

  /v2/speech:
    post:
      tags: [Speech]
      summary: Synthesize speech
      security:
        - bearerAuth: []
      parameters:
        - in: header
          name: Idempotency-Key
          schema:
            type: string
        - in: header
          name: X-Audra-Commercial-Use
          schema:
            type: string
            enum: ['true', '1', 'yes']
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpeechRequest'
      responses:
        '200':
          description: Audio stream
          headers:
            X-Chars-Processed:
              schema:
                type: integer
            X-Audra-Model:
              schema:
                type: string
                example: audra-core
            X-Audra-Voice:
              schema:
                type: string
                example: june
            X-Commercial-Allowed:
              schema:
                type: string
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
            audio/wav:
              schema:
                type: string
                format: binary
        '402':
          description: Insufficient credits or commercial use blocked
        '403':
          description: Premium voicepack requires paid account
        '413':
          description: Text exceeds sync character limit
        '422':
          description: Render failed

  /v2/speech/batch:
    post:
      tags: [Speech]
      summary: Synthesize speech from pre-chunked segments
      security:
        - bearerAuth: []
      parameters:
        - in: header
          name: Idempotency-Key
          schema:
            type: string
        - in: header
          name: X-Audra-Commercial-Use
          schema:
            type: string
            enum: ['true', '1', 'yes']
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchSpeechRequest'
      responses:
        '200':
          description: Audio stream
          headers:
            X-Chars-Processed:
              schema:
                type: integer
            X-Batch-Segments:
              schema:
                type: integer
            X-Delivery-Profile:
              schema:
                type: string
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
        '402':
          description: Insufficient credits
        '413':
          description: Batch exceeds sync character limit
        '422':
          description: Render failed

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: API key from POST /v2/accounts

  schemas:
    SignupResponse:
      type: object
      properties:
        api_key:
          type: string
        credits_chars:
          type: integer
        email_verified:
          type: boolean
        message:
          type: string

    UsageResponse:
      type: object
      properties:
        credits_chars:
          type: integer
          nullable: true
        lifetime_chars:
          type: integer
        monthly_chars:
          type: integer
        price_per_1k_chars:
          type: number
        price_per_1m_chars:
          type: number
        commercial:
          type: boolean
        email_verified:
          type: boolean
        upgrade_url:
          type: string
          nullable: true
        stripe_mode:
          type: string
          nullable: true
        premium_voicepacks_enabled:
          type: boolean
        api_key_prefix:
          type: string
          description: Prefix of the API key used for this request.
        unlimited:
          type: boolean
          description: Whether the account has unlimited character credits.

    SpeechRequest:
      type: object
      required: [text]
      properties:
        model:
          type: string
          default: audra-core
        text:
          type: string
          maxLength: 500000
          description: Plain text or SSML
        voice:
          type: string
          default: june
          description: |
            Voice slug (june, clara, arthur, …) or weighted mix e.g. `june(2)+wren(1)`.
            Premium packs use product slugs (e.g. aurora-lead) when enabled.
        speed:
          type: number
          default: 1.0
          minimum: 0.5
          maximum: 2.0
        format:
          type: string
          enum: [mp3, wav]
          default: mp3
        delivery_profile:
          type: string
          enum: [legacy, podcast_v2, podcast_v3]
          description: Podcast pacing profile (slower speed + paragraph/sentence pauses)

    BatchSegment:
      type: object
      required: [text]
      properties:
        text:
          type: string
          maxLength: 4000
        speed:
          type: number
          minimum: 0.5
          maximum: 2.0
        pause_after_ms:
          type: integer
          minimum: 0
          maximum: 5000
          default: 0

    BatchSpeechRequest:
      type: object
      required: [segments]
      properties:
        model:
          type: string
          default: audra-core
        voice:
          type: string
          default: june
        speed:
          type: number
          default: 1.0
          minimum: 0.5
          maximum: 2.0
        format:
          type: string
          enum: [mp3, wav]
          default: mp3
        delivery_profile:
          type: string
          enum: [legacy, podcast_v2, podcast_v3]
        segments:
          type: array
          minItems: 1
          maxItems: 64
          items:
            $ref: '#/components/schemas/BatchSegment'

    PublicStats:
      type: object
      properties:
        accounts:
          type: integer
          description: Real user accounts (excludes test/automation emails)
        chars_rendered:
          type: integer
          description: Lifetime chars rendered by real users
        accounts_all:
          type: integer
          description: All accounts except @audra.dev smoke signups
        chars_rendered_all:
          type: integer
          description: Lifetime chars including test traffic
